@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

$br-main: 255px 15px 225px 15px/15px 225px 15px 255px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Patrick Hand SC', cursive;
}

ul {
  list-style: none;
}

section {
  text-align: center;
  padding: 2rem 0;
}

.section-books {
  position: relative;

  &::after {
    content: '';
    border-bottom: $br-main;
    border-bottom-left-radius: 100px 50px;
    border-bottom-right-radius: 700px 30px;
    background-color: #000;
    width: 100px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
}

.btn {
  padding: 0.5em 1em;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: $br-main;
  box-shadow: 4px 4px 0px 0px black;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 2px 2px 0 0 black;
  }

  &:focus {
    box-shadow: 0 0 0 0 black;
  }
}

.books-container {
  border: 5px solid #000;
  border-radius: $br-main;
  overflow: hidden;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  &--gray {
    background-color: rgba(163, 163, 163, 0.5);
  }
}

form {
  margin: 0;

  input {
    margin-bottom: 10px;
    border: 4px solid #000;
  }

  input::placeholder {
    font-weight: bold;
    font-family: inherit;
    color: #000;
  }
  button {
    margin-left: 100px;
  }
}
