@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
:root {
  --color-primary: rgb(177, 177, 177);
  --color-secondary: rgba(177, 177, 177, 0.3);
  --doodly-br: 255px 15px 225px 15px/15px 225px 15px 255px;
  --b-main: 5px solid #000;
}

/* BASE STYLES */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-image: url(../images/section-background.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: 100% 70rem;
  font-family: 'Patrick Hand SC', cursive;
}

@media (min-width: 768px) {
  html,
  body {
    background-position: 50%;
  }
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 75vh;
}

.hidden {
  display: none;
}

.translated {
  -webkit-transform: translateY(-150%) translateX(-50%) !important;
          transform: translateY(-150%) translateX(-50%) !important;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.date {
  text-align: right;
}

.section {
  text-align: center;
  padding: 2rem 0;
}

.message-hidden {
  opacity: 0 !important;
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
}

.title {
  font-size: 2.5rem;
}

.btn {
  padding: 0.5em 1em;
  background-color: #fff;
  color: #000;
  border: var(--b-main);
  -webkit-box-shadow: 4px 4px 0 0 black;
          box-shadow: 4px 4px 0 0 black;
  border-radius: var(--doodly-br);
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  -webkit-box-shadow: 2px 2px 0 0 black;
          box-shadow: 2px 2px 0 0 black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btn:active {
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.message {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.header {
  padding: 1rem 0;
  text-align: center;
}

.logo {
  font-size: 1.5rem;
}

.hamburger-btn {
  z-index: 6;
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }
}

.current {
  color: var(--color-secondary);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #fff;
  border: var(--b-main);
  border-radius: var(--doodly-br);
}

.nav__links {
  display: none;
}

@media (min-width: 768px) {
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__links a {
  font-size: 1.2rem;
}

.nav__links--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  background-color: #fff;
  border: var(--b-main);
  border-radius: var(--doodly-br);
  width: 95%;
  min-height: 20%;
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .nav__links--mobile {
    display: none;
  }
}

.nav__links--mobile a {
  font-size: 1.2rem;
}

.nav__item {
  margin-right: 1rem;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.section-books {
  position: relative;
}

.section-books::after {
  content: '';
  border-bottom: var(--b-main);
  border-bottom-left-radius: 100px 50px;
  border-bottom-right-radius: 700px 30px;
  position: absolute;
  width: 100px;
  height: 10px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.books-container {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: var(--b-main);
  border-radius: var(--doodly-br);
  overflow: hidden;
}

.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  background-color: transparent;
}

.book--grey {
  background-color: var(--color-secondary);
}

.book__info {
  text-align: left;
}

.section-add__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-add__message {
  font-size: 1.5rem;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.add-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border: var(--b-main);
  border-radius: var(--doodly-br);
}

@media (min-width: 768px) {
  .add-form {
    width: 50%;
  }
}

.add-form__input {
  padding: 0.5rem;
  width: 100%;
  border: var(--b-main);
  border-radius: var(--doodly-br);
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
}

.add-form__input:focus {
  outline: none;
  background-color: var(--color-secondary);
}

.add-form__input::-webkit-input-placeholder {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
}

.add-form__input:-ms-input-placeholder {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
}

.add-form__input::-ms-input-placeholder {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
}

.add-form__input::placeholder {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
}

@media (min-width: 768px) {
  .add-form__btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.section-contact .container {
  overflow: hidden;
  padding: 1rem;
  background-color: #fff;
  border: var(--b-main);
  border-radius: var(--doodly-br);
}

.section-contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  text-align: left;
}

.section-contact__credentials {
  list-style: disc;
}

.footer {
  padding: 2rem 0;
}
/*# sourceMappingURL=main.css.map */